In [155]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
import seaborn as sns
import irdatacleaning as ird
import islanders as ir

In [156]:
movies = ir.datasets("movie")

In [157]:
movies

,title,rating,run time,year,genre,Director,Score
0,The Shawshank Redemption,R,2H:22M,1994,Drama,Frank Darabont,9.2
1,The Godfather,R,2H:55M,1972,Crime,Francis Ford Coppola,9.1
2,The Godfather: Part II,R,3H:22M,1974,Crime,Francis Ford Coppola,9.0
3,The Dark Knight,PG-13,2H:32M,2008,Action,Christopher Nolan,9.0
4,12 Angry Men,Approved,1H:36M,1957,Crime,Sidney Lumet,8.9
...,...,...,...,...,...,...,...
23,Guardians of the Galaxy Vol. 2,PG-13,2H:16M,2007,Action,James Gunn,7.6
24,Iron Man 2,PG-13,2H:4M,2010,Action,Jon Favreau,7.0
25,Captain America: The Winter Soldier,PG-13,2H:16M,2014,Action,Anthony Russo,7.7
26,The Incredible Hulk,PG-13,1H:52M,2008,Action,Louis Leterrier,6.6
27,Ant-Man,PG-13,1H:57M,2015,Action,Peyton Reed,7.3

In [158]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 367 entries, 0 to 27
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     367 non-null    object
 1   rating    367 non-null    object
 2   run time  367 non-null    object
 3   year      367 non-null    int64
 4   genre     367 non-null    object
 5   Director  367 non-null    object
 6   Score     367 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 22.9+ KB

In [159]:
movies.drop_duplicates(subset = ["title"], keep = "last", inplace=True)
# sns.pairplot(movies)

In [160]:
movies.drop(columns = "year", inplace = True)

In [167]:
predict = {
    "title":["Morbius"],
    "rating":["PG-13"],
    "run time":["1H:48M"],
    "genre":["Action"],
    "Director":["Daniel Espinosa"]
}
predicted_pd = pd.DataFrame(predict)
predicted_movies = pd.concat([movies,predicted_pd])

In [168]:
predicted_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 350 entries, 1 to 0
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     350 non-null    object
 1   rating    350 non-null    object
 2   run time  350 non-null    object
 3   genre     350 non-null    object
 4   Director  350 non-null    object
 5   Score     349 non-null    float64
dtypes: float64(1), object(5)
memory usage: 19.1+ KB

In [169]:
run_time = predicted_movies["run time"]

In [170]:
new_run = []
for i in run_time:
    hour = int(i.split("H")[0])*60
    minutes = int(i.split(":")[1].split("M")[0])
    new_run.append(hour+minutes)

In [171]:
new_run

[175,
 202,
 152,
 96,
 195,
 201,
 154,
 178,
 178,
 139,
 142,
 148,
 179,
 124,
 146,
 133,
 207,
 127,
 118,
 130,
 116,
 169,
 121,
 169,
 125,
 189,
 132,
 110,
 133,
 150,
 137,
 116,
 106,
 109,
 88,
 87,
 89,
 119,
 106,
 155,
 87,
 151,
 112,
 130,
 102,
 165,
 112,
 155,
 117,
 147,
 113,
 115,
 125,
 165,
 137,
 88,
 110,
 98,
 116,
 146,
 95,
 134,
 104,
 122,
 106,
 105,
 164,
 137,
 229,
 126,
 149,
 143,
 170,
 81,
 122,
 160,
 178,
 153,
 160,
 126,
 131,
 149,
 142,
 99,
 165,
 128,
 99,
 119,
 115,
 102,
 103,
 136,
 108,
 143,
 89,
 228,
 68,
 116,
 161,
 131,
 125,
 97,
 107,
 153,
 114,
 136,
 123,
 129,
 170,
 102,
 119,
 122,
 125,
 129,
 103,
 132,
 96,
 127,
 170,
 138,
 110,
 162,
 88,
 130,
 156,
 91,
 138,
 121,
 140,
 130,
 89,
 164,
 119,
 180,
 179,
 158,
 172,
 178,
 126,
 118,
 135,
 129,
 129,
 130,
 86,
 142,
 138,
 107,
 122,
 105,
 95,
 109,
 115,
 96,
 124,
 107,
 103,
 127,
 91,
 93,
 132,
 132,
 117,
 93,
 95,
 161,
 98,
 100,
 140,
 111,
 238,
 136,
 108,
 112,
 122,
 162,
 153,
 183,
 99,
 67,
 45,
 116,
 83,
 127,
 101,
 92,
 141,
 129,
 133,
 185,
 118,
 149,
 139,
 114,
 139,
 152,
 134,
 99,
 117,
 128,
 98,
 120,
 212,
 99,
 130,
 132,
 145,
 131,
 89,
 121,
 137,
 127,
 98,
 93,
 130,
 99,
 321,
 120,
 129,
 92,
 130,
 94,
 98,
 128,
 121,
 123,
 148,
 120,
 154,
 117,
 105,
 188,
 80,
 205,
 87,
 121,
 110,
 98,
 117,
 170,
 148,
 138,
 102,
 97,
 112,
 135,
 136,
 103,
 131,
 107,
 133,
 126,
 130,
 179,
 121,
 156,
 130,
 132,
 150,
 104,
 97,
 155,
 136,
 120,
 163,
 110,
 152,
 138,
 106,
 93,
 107,
 142,
 97,
 158,
 129,
 127,
 97,
 162,
 115,
 120,
 112,
 85,
 101,
 100,
 130,
 105,
 107,
 96,
 136,
 110,
 103,
 172,
 117,
 118,
 152,
 108,
 99,
 110,
 112,
 124,
 104,
 97,
 138,
 89,
 115,
 104,
 104,
 104,
 99,
 95,
 93,
 119,
 116,
 142,
 85,
 96,
 92,
 105,
 109,
 132,
 88,
 98,
 94,
 148,
 133,
 129,
 139,
 132,
 156,
 181,
 134,
 149,
 115,
 147,
 126,
 143,
 130,
 121,
 134,
 123,
 124,
 141,
 130,
 115,
 136,
 124,
 136,
 112,
 117,
 108]

In [172]:
predicted_movies["run time"] = new_run

In [173]:
movies = predicted_movies
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 350 entries, 1 to 0
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     350 non-null    object
 1   rating    350 non-null    object
 2   run time  350 non-null    int64
 3   genre     350 non-null    object
 4   Director  350 non-null    object
 5   Score     349 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 19.1+ KB

In [174]:
movies["title"].value_counts()

The Godfather                1
It Happened One Night        1
Demon Slayer: Mugen Train    1
The Princess Bride           1
Nights of Cabiria            1
                            ..
For a Few Dollars More       1
Toy Story 3                  1
To Kill a Mockingbird        1
Pather Panchali              1
Morbius                      1
Name: title, Length: 350, dtype: int64

In [175]:
movies["rating"].value_counts()

R            126
PG-13         72
PG            55
Not Rated     40
G             20
Passed        15
Approved      13
TV-MA          3
TV-PG          2
Unrated        1
X              1
M              1
GP             1
Name: rating, dtype: int64

In [176]:
movies["genre"].value_counts()

Action       87
Drama        79
Comedy       47
Crime        39
Animation    32
Adventure    28
Biography    27
Mystery       4
Horror        3
Western       2
Film-Noir     1
Thriller      1
Name: genre, dtype: int64

In [177]:
movies["Director"].value_counts()

Martin Scorsese      7
Akira Kurosawa       7
Christopher Nolan    7
Steven Spielberg     7
Stanley Kubrick      7
                    ..
Roger Allers         1
Clyde Bruckman       1
Buster Keaton        1
Costa-Gavras         1
Daniel Espinosa      1
Name: Director, Length: 224, dtype: int64

In [178]:
encoded_list = ["rating", "genre", "Director"]
encoded = ird.Encoder(df = movies, columns=encoded_list)
movies = encoded.check()

/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/irdatacleaning/encoder2.py:67: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self.df[j] = new_df[j]

In [179]:
movies

,title,run time,Score,Approved,G,GP,M,Not Rated,PG,PG-13,...,Tom McCarthy,Tony Kaye,Victor Fleming,Vittorio De Sica,Wes Anderson,William Wyler,Wolfgang Petersen,Yarrow Cheney,Yasujirô Ozu,Yavuz Turgul
1,The Godfather,175,9.1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Godfather: Part II,202,9.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,The Dark Knight,152,9.0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12 Angry Men,96,8.9,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Schindler's List,195,8.9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,Iron Man 2,124,7.0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
25,Captain America: The Winter Soldier,136,7.7,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
26,The Incredible Hulk,112,6.6,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27,Ant-Man,117,7.3,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
0,Morbius,108,NaN,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [180]:
movies.drop_duplicates(subset = ["title"], keep = "last", inplace=True)

In [181]:
movies.title.value_counts()

The Godfather                1
It Happened One Night        1
Demon Slayer: Mugen Train    1
The Princess Bride           1
Nights of Cabiria            1
                            ..
For a Few Dollars More       1
Toy Story 3                  1
To Kill a Mockingbird        1
Pather Panchali              1
Morbius                      1
Name: title, Length: 350, dtype: int64

In [182]:
# sns.pairplot(movies)

In [183]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
tfidf = CountVectorizer()
new_drop = tfidf.fit_transform(movies["title"]).toarray()

In [184]:
type(new_drop)

numpy.ndarray

In [185]:
tfidf.vocabulary_

{'the': 515,
 'godfather': 189,
 'part': 379,
 'ii': 238,
 'dark': 111,
 'knight': 274,
 '12': 0,
 'angry': 26,
 'men': 314,
 'schindler': 444,
 'list': 291,
 'lord': 296,
 'of': 359,
 'rings': 426,
 'return': 421,
 'king': 271,
 'pulp': 400,
 'fiction': 164,
 'good': 193,
 'bad': 42,
 'and': 22,
 'ugly': 538,
 'fellowship': 161,
 'ring': 425,
 'fight': 165,
 'club': 102,
 'forrest': 172,
 'gump': 204,
 'inception': 243,
 'two': 537,
 'towers': 530,
 'star': 490,
 'wars': 561,
 'episode': 147,
 'empire': 143,
 'strikes': 502,
 'back': 41,
 'goodfellas': 194,
 'one': 365,
 'flew': 169,
 'over': 372,
 'cuckoo': 109,
 'nest': 344,
 'seven': 452,
 'samurai': 440,
 'se7en': 446,
 'silence': 462,
 'lambs': 279,
 'city': 98,
 'god': 188,
 'life': 287,
 'is': 254,
 'beautiful': 50,
 'saving': 442,
 'private': 396,
 'ryan': 439,
 'iv': 257,
 'new': 346,
 'hope': 225,
 'interstellar': 250,
 'spirited': 484,
 'away': 39,
 'green': 200,
 'mile': 317,
 'parasite': 377,
 'léon': 302,
 'professional': 397,
 'hara': 214,
 'kiri': 272,
 'pianist': 386,
 'terminator': 514,
 'judgment': 266,
 'day': 113,
 'to': 526,
 'future': 179,
 'usual': 546,
 'suspects': 507,
 'psycho': 399,
 'lion': 290,
 'modern': 322,
 'times': 525,
 'grave': 198,
 'fireflies': 167,
 'american': 19,
 'history': 220,
 'whiplash': 568,
 'gladiator': 186,
 'lights': 288,
 'departed': 118,
 'intouchables': 252,
 'prestige': 393,
 'casablanca': 86,
 'once': 364,
 'upon': 545,
 'time': 524,
 'in': 240,
 'west': 567,
 'rear': 412,
 'window': 574,
 'cinema': 96,
 'paradiso': 376,
 'alien': 11,
 'apocalypse': 30,
 'now': 356,
 'memento': 312,
 'indiana': 246,
 'jones': 264,
 'raiders': 407,
 'lost': 297,
 'ark': 33,
 'great': 199,
 'dictator': 121,
 'django': 124,
 'unchained': 540,
 'lives': 292,
 'others': 368,
 'paths': 383,
 'glory': 187,
 'sunset': 505,
 'blvd': 66,
 'wall': 558,
 'witness': 577,
 'for': 170,
 'prosecution': 398,
 'shining': 457,
 'dr': 133,
 'strangelove': 499,
 'or': 366,
 'how': 229,
 'learned': 282,
 'stop': 496,
 'worrying': 580,
 'love': 298,
 'bomb': 67,
 'princess': 394,
 'mononoke': 324,
 'oldboy': 362,
 'joker': 263,
 'your': 587,
 'name': 339,
 'coco': 103,
 'rises': 428,
 'aliens': 12,
 'america': 18,
 'capernaum': 82,
 'das': 112,
 'boot': 70,
 'high': 219,
 'low': 299,
 'idiots': 236,
 'toy': 531,
 'story': 497,
 'beauty': 51,
 'amadeus': 16,
 'braveheart': 72,
 'inglourious': 248,
 'basterds': 46,
 'hamilton': 210,
 'will': 572,
 'hunting': 234,
 'vi': 554,
 'jedi': 260,
 '2001': 2,
 'space': 482,
 'odyssey': 358,
 'come': 104,
 'see': 449,
 'reservoir': 418,
 'dogs': 127,
 'like': 289,
 'stars': 491,
 'on': 363,
 'earth': 139,
 'vertigo': 553,
 'citizen': 97,
 'kane': 268,
 'hunt': 232,
 'requiem': 417,
 'dream': 135,
 'singin': 465,
 'rain': 408,
 'north': 351,
 'by': 78,
 'northwest': 352,
 'eternal': 149,
 'sunshine': 506,
 'spotless': 485,
 'mind': 319,
 'ikiru': 239,
 'bicycle': 57,
 'thieves': 518,
 'lawrence': 281,
 'arabia': 31,
 'kid': 269,
 'full': 177,
 'metal': 315,
 'jacket': 258,
 'dangal': 110,
 'incendies': 242,
 'apartment': 29,
 'father': 159,
 'double': 131,
 'indemnity': 245,
 'metropolis': 316,
 'taxi': 512,
 'driver': 136,
 'clockwork': 101,
 'orange': 367,
 'separation': 451,
 'sting': 492,
 'scarface': 443,
 'snatch': 472,
 '1917': 1,
 'amélie': 21,
 'pather': 382,
 'panchali': 374,
 'kill': 270,
 'mockingbird': 321,
 'few': 163,
 'dollars': 129,
 'more': 329,
 'up': 544,
 'last': 280,
 'crusade': 108,
 'heat': 217,
 'confidential': 105,
 'yojimbo': 584,
 'ran': 409,
 'rashomon': 410,
 'book': 68,
 'downfall': 132,
 'monty': 326,
 'python': 402,
 'holy': 222,
 'grail': 195,
 'all': 13,
 'about': 5,
 'eve': 152,
 'some': 476,
 'it': 256,
 'hot': 226,
 'batman': 47,
 'begins': 53,
 'unforgiven': 543,
 'children': 91,
 'heaven': 218,
 'jai': 259,
 'bhim': 56,
 'howl': 230,
 'moving': 332,
 'castle': 88,
 'wolf': 578,
 'street': 501,
 'at': 34,
 'nuremberg': 357,
 'there': 517,
 'be': 49,
 'blood': 64,
 'escape': 148,
 'casino': 87,
 'treasure': 535,
 'sierra': 461,
 'madre': 305,
 'pan': 373,
 'labyrinth': 278,
 'secret': 448,
 'their': 516,
 'eyes': 155,
 'raging': 405,
 'bull': 77,
 'chinatown': 92,
 'my': 338,
 'neighbor': 341,
 'totoro': 529,
 'dersu': 119,
 'uzala': 547,
 'shutter': 459,
 'island': 255,
 'lock': 293,
 'stock': 493,
 'smoking': 471,
 'barrels': 44,
 'no': 350,
 'country': 107,
 'old': 361,
 'dial': 120,
 'murder': 336,
 'gold': 191,
 'rush': 437,
 'thing': 519,
 'three': 522,
 'billboards': 60,
 'outside': 371,
 'ebbing': 140,
 'missouri': 320,
 'seventh': 453,
 'seal': 447,
 'elephant': 141,
 'man': 306,
 'sixth': 467,
 'sense': 450,
 'truman': 536,
 'show': 458,
 'jurassic': 267,
 'park': 378,
 'wild': 571,
 'strawberries': 500,
 'third': 520,
 'memories': 313,
 'vendetta': 550,
 'blade': 63,
 'runner': 436,
 'trainspotting': 534,
 'inside': 249,
 'out': 369,
 'bridge': 75,
 'river': 429,
 'kwai': 276,
 'fargo': 158,
 'finding': 166,
 'nemo': 342,
 'warrior': 560,
 'bill': 59,
 'vol': 556,
 'gone': 192,
 'with': 576,
 'wind': 573,
 'tokyo': 527,
 'waterfront': 564,
 'son': 477,
 'tales': 511,
 'stalker': 488,
 'prisoners': 395,
 'deer': 116,
 'hunter': 233,
 'grand': 197,
 'budapest': 76,
 'hotel': 227,
 'general': 182,
 'sherlock': 456,
 'jr': 265,
 'gran': 196,
 'torino': 528,
 'persona': 385,
 'before': 52,
 'sunrise': 504,
 'mary': 308,
 'max': 310,
 'catch': 89,
 'me': 311,
 'if': 237,
 'you': 586,
 'can': 81,
 'mr': 333,
 'smith': 470,
 'goes': 190,
 'washington': 562,
 'barry': 45,
 'lyndon': 301,
 'room': 433,
 'girl': 185,
 'hacksaw': 207,
 'ridge': 424,
 'passion': 381,
 'joan': 262,
 'arc': 32,
 'andhadhun': 23,
 'ford': 171,
 'ferrari': 162,
 'years': 583,
 'slave': 468,
 'not': 353,
 'big': 58,
 'lebowski': 283,
 'dead': 114,
 'poets': 389,
 'society': 473,
 'train': 533,
 'dragon': 134,
 'mad': 304,
 'fury': 178,
 'road': 430,
 'ben': 55,
 'hur': 235,
 'autumn': 36,
 'sonata': 478,
 'harry': 216,
 'potter': 391,
 'deathly': 115,
 'hallows': 209,
 'million': 318,
 'dollar': 128,
 'baby': 40,
 'handmaiden': 212,
 'wages': 557,
 'fear': 160,
 'stand': 489,
 'network': 345,
 'logan': 294,
 'cool': 106,
 'hand': 211,
 'luke': 300,
 'la': 277,
 'haine': 208,
 'hachi': 206,
 'dog': 126,
 'tale': 510,
 'silent': 463,
 'voice': 555,
 'movie': 331,
 '400': 3,
 'blows': 65,
 'gangs': 181,
 'wasseypur': 563,
 'platoon': 388,
 'spotlight': 486,
 'monsters': 325,
 'inc': 241,
 'rebecca': 413,
 'brian': 73,
 'mood': 327,
 'bandit': 43,
 'rwanda': 438,
 'into': 251,
 'rocky': 431,
 'amores': 20,
 'perros': 384,
 'nausicaä': 340,
 'valley': 549,
 'happened': 213,
 'night': 347,
 'fanny': 156,
 'alexander': 9,
 'andrei': 24,
 'rublev': 434,
 'neon': 343,
 'genesis': 183,
 'evangelion': 151,
 'end': 145,
 'battle': 48,
 'algiers': 10,
 'nights': 349,
 'cabiria': 79,
 'bride': 74,
 'demon': 117,
 'slayer': 469,
 'mugen': 334,
 'raatchasan': 403,
 'matrix': 309,
 'resurrections': 420,
 'don': 130,
 'look': 295,
 'encanto': 144,
 'christmas': 93,
 'vacation': 548,
 'unforgivable': 542,
 'actually': 6,
 'home': 223,
 'alone': 15,
 'being': 54,
 'ricardos': 423,
 'resident': 419,
 'evil': 153,
 'welcome': 566,
 'raccoon': 404,
 'licorice': 286,
 'pizza': 387,
 'power': 392,
 'pushpa': 401,
 'rise': 427,
 'spider': 483,
 'side': 460,
 'wonderful': 579,
 'die': 122,
 'hard': 215,
 'nightmare': 348,
 'alley': 14,
 'grinch': 201,
 'stole': 494,
 'elf': 142,
 'dune': 138,
 'amazing': 17,
 'white': 569,
 'sing': 464,
 'duel': 137,
 'reloaded': 416,
 'boy': 71,
 'called': 80,
 'french': 175,
 'dispatch': 123,
 'venom': 551,
 'let': 285,
 'carnage': 84,
 'house': 228,
 'gucci': 203,
 'revolutions': 422,
 'santa': 441,
 'clause': 100,
 '83': 4,
 'tick': 523,
 'boom': 69,
 'york': 585,
 'swan': 508,
 'song': 479,
 'scrooged': 445,
 'polar': 390,
 'express': 154,
 'tragedy': 532,
 'macbeth': 303,
 'ron': 432,
 'wrong': 582,
 'klaus': 273,
 'holiday': 221,
 'sound': 481,
 'music': 337,
 'verse': 552,
 'red': 414,
 'notice': 354,
 'sorcerer': 480,
 'stone': 495,
 'single': 466,
 'way': 565,
 'mother': 330,
 'android': 25,
 'underdog': 541,
 'ghostbusters': 184,
 'afterlife': 7,
 'bit': 61,
 'atrangi': 35,
 're': 411,
 'jingle': 261,
 'free': 174,
 'guy': 205,
 'rumble': 435,
 'chronicles': 95,
 'antlers': 28,
 'outback': 370,
 'sweet': 509,
 'wrath': 581,
 'soho': 474,
 'shawshank': 455,
 'redemption': 415,
 'muppet': 335,
 'carol': 85,
 'office': 360,
 'party': 380,
 'mon': 323,
 'suicide': 503,
 'squad': 487,
 'four': 173,
 'christmases': 94,
 'krampus': 275,
 'novice': 355,
 'homecoming': 224,
 'far': 157,
 'from': 176,
 'shang': 454,
 'chi': 90,
 'legend': 284,
 'ten': 513,
 'eternals': 150,
 'avengers': 38,
 'endgame': 146,
 'black': 62,
 'widow': 570,
 'infinity': 247,
 'war': 559,
 'doctor': 125,
 'strange': 498,
 'captain': 83,
 'civil': 99,
 'iron': 253,
 'thor': 521,
 'ragnarok': 406,
 'guardians': 202,
 'galaxy': 180,
 'panther': 375,
 'marvel': 307,
 'first': 168,
 'avenger': 37,
 'age': 8,
 'ultron': 539,
 'winter': 575,
 'soldier': 475,
 'incredible': 244,
 'hulk': 231,
 'ant': 27,
 'morbius': 328}

In [186]:
NLP_pd = pd.DataFrame(data = new_drop,columns= tfidf.vocabulary_)
NLP_pd.columns

Index(['the', 'godfather', 'part', 'ii', 'dark', 'knight', '12', 'angry',
       'men', 'schindler',
       ...
       'first', 'avenger', 'age', 'ultron', 'winter', 'soldier', 'incredible',
       'hulk', 'ant', 'morbius'],
      dtype='object', length=588)

In [187]:
movies.append(other = NLP_pd)
movies.drop(columns = "title",inplace=True)

In [188]:
movies

,run time,Score,Approved,G,GP,M,Not Rated,PG,PG-13,Passed,...,Tom McCarthy,Tony Kaye,Victor Fleming,Vittorio De Sica,Wes Anderson,William Wyler,Wolfgang Petersen,Yarrow Cheney,Yasujirô Ozu,Yavuz Turgul
1,175,9.1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,202,9.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,152,9.0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,96,8.9,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,195,8.9,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,124,7.0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
25,136,7.7,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26,112,6.6,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
27,117,7.3,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
0,108,NaN,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [189]:
new_cat = []
for i in movies.Score:
    if i>0 and i  <=1:
        new_cat.append("the score is either <=1")
    elif i >1 and i <=2:
        new_cat.append("the score is >1 but <=2")
    elif i >2 and i<=3:
        new_cat.append("the score is >2 but <=3")
    elif i >3 and i<=4:
        new_cat.append("the score is >3 but <= 4")
    elif i >4 and i<=5:
        new_cat.append("the score is >4 but <=5")
    elif i >5 and i<=6:
        new_cat.append("the score is >5 but <=6")
    elif i >6 and i<=7:
        new_cat.append("the score is >6 but <=7")
    elif i >7 and i<=8:
        new_cat.append("the score is >7 but <=8")
    elif i >8 and i <=9:
        new_cat.append("the score is >8 and <=9")
    elif i >9 and i<=10:
        new_cat.append("the score is >9 but <=10")

# movies["new score"] = new_cat

In [190]:
# movies["new score"].value_counts()

In [191]:
# movies.drop(columns = "Score",inplace = True)
score = [ i for i in movies.Score]
movies.drop(columns = "Score",inplace = True)
movies["Score"] = score

In [210]:
X = np.array(movies.iloc[:-1,:-1].values)
y = np.array(movies.iloc[:-1,-1].values)
predicted_movie_df = np.array(movies.iloc[-1,:-1]).reshape(1,-1)
predicted_movie_df

array([[108.,   0.,   0.,   0.,   0.,   0.,   0.,   1.,   0.,   0.,   0.,
          0.,   0.,   0.,   1.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   1.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.,
          0.,   0.,   0.,   0.,   0.,   0.,   0.,   0.]])

In [197]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(X,
                                                  y,
                                                  test_size=0.25)

In [198]:
# gnb = GaussianNB()
# gnb.fit(X_train, y_train)
# gnb.score(X_test,y_test)

In [199]:
# dec = ir.DT(X,y,test_size=0.3)
# dt,X_test,y_test = dec.build(test=True)

In [200]:
# dt.score(X_test,y_test)

In [201]:
# from sklearn.naive_bayes import CategoricalNB
# for i in range(2,20):
#     cat = CategoricalNB(min_categories=i)
#     cat.fit(X_train,y_train)
#     print(cat.score(X_test,y_test))

In [202]:
# from sklearn.naive_bayes import BernoulliNB
# ber = BernoulliNB()

In [203]:
# ber.fit(X_train,y_train)
# ber.score(X_test,y_test)

In [204]:
# from sklearn.naive_bayes import MultinomialNB
# mul = MultinomialNB()
# mul.fit(X_train,y_train)
# mul.score(X_test,y_test)

In [205]:
# from sklearn.naive_bayes import ComplementNB
# com = ComplementNB()
# com.fit(X_train,y_train)
# com.score(X_test,y_test)

In [206]:
# from sklearn.ensemble import RandomForestClassifier
# ran = RandomForestClassifier()
# ran.fit(X_train,y_train)
# ran.score(X_test,y_test)

In [207]:
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor()
dtr.fit(X_train, y_train)
dtr.score(X_test, y_test)

0.052459207007480635

In [208]:
dtr.predict(predicted_movie_df)

array([6.6])